node_modules
vendor
.git
.gitignore
.env.example
.env.backup
.phpunit.result.cache
docker-compose.yml
Dockerfile
README.md
.editorconfig
.idea
.vscode
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.styleci.yml
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php